@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* ---------------------------------------Global Variables */
:root {
    --link-font-color: #fafafa;
    --gold-color: #C7A64A;
    --sub-heading-color: #5C501F;
    --font-family-body: "Roboto", sans-serif;
    --h1-font-family: "Anonymous Pro", sans-serif;
}

.bold {
    font-weight: bold;
}

#hero {
    min-width: 100vw;
}

section {
    min-height: 100vh;
    max-width: 1400px;
    margin: auto;
}

h1 {
    color: var(--gold-color);
}

h1,
h2 {
    font-family: var(--h1-font-family);
    letter-spacing: .2em;
}

h4 {
    color: var(--sub-heading-color);
    font-family: var(--h1-font-family);
}

p,
li {
    font-family: var(--font-family-body);
}

html, body {
    height: 100%;
}

body {
    background-color: #eeeeee;
}

.about-info,
.gym-info,
.team-info,
.contact-info,
.map-container {
    margin-top: 60px;
}

/* ---------------------------------------navbar */
/* Logo */
.navbar {
    --bs-navbar-padding-y: 0;
}

.navbar-brand {
    margin-left: 30px;
    font-family: var(--h1-font-family);
    color: var(--gold-color);
    font-weight: bold;
    letter-spacing: 0.3em;
}

.navbar.bg-dark {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    color: var(--link-font-color);
    font-family: var(--font-family-body);
    font-size: 1em;
    transition: font-size 1s ease;
    margin-right: 20px;
    font-weight: bold;
}

.nav-link:hover {
    border-bottom: 2px solid #dc3545;
    color: #dc3545;
    font-size: 1.1em;
}

/* ---------------------------------------hero section */
#hero .container-fluid {
    --bs-gutter-x: 0;
}

.hero-section {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.hero-image {
    background-image: url('../images/man.jpg');
    width: 100%;
    height: 100%;
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text-overlay {
    width: 80%;
    background-color: rgba(10, 10, 10, 0.2);
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.text-overlay h1 {
    font-size: 2.4em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: var(--h1-font-family);
    letter-spacing: 0.2em;
    margin-bottom: 20px;
}

.text-overlay p {
    font-size: 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: .2em;
    color: rgb(227, 236, 238);
    margin-bottom: 20px;
}

.text-overlay span.gold {
    color: var(--gold-color);
}

/* ---------------------------------------about section */
.about-info hr {
    margin-bottom: 30px;
}

.about-info h4 {
    color: var(--sub-heading-color);
    margin: 50px 0 20px 0;
}

.about-info p {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 0 20px;
    color: var(--primary-font-color);
}

.trainer {
    width: 50%;
    height: 150px;
    border-radius: 50%;
    margin: 4% auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background-image: url("../images/trainer3.jpg");
    background-size: cover;
}

/* ---------------------------------------The Gym section */
#gym {
    background-color: #C7A64A;
}

.gym-info hr {
    border: none;
    height: 1px;
    background-color: #fafafa;
}

#gym .container {
    position: relative;
}

.gym-header h1,
.gym-header p {
    text-align: center;
}

.gym-header h2 {
    color: #fafafa;
    text-align: center;
}

.gym-gallery {
    width: 100%;
    margin: 30px auto;
}

.gym-images-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    border: 1px solid black;
    margin: 4px;
    width: 32%;
    height: 220px;
    padding: 0px;
    background-size: cover;
    background-position: center center;
    transition: background-position 2s ease;
}

.image-container:nth-child(1) {
    background-image: url('../images/equip-1.webp');
}

.image-container:nth-child(2) {
    background-image: url('../images/equip-2.webp');
}

.image-container:nth-child(3) {
    background-image: url('../images/equip-3.webp');
}

.image-container:nth-child(4) {
    background-image: url('../images/equip-4.webp');
}

.image-container:nth-child(5) {
    background-image: url('../images/equip-5.webp');
}

.image-container:nth-child(6) {
    background-image: url('../images/equip-6.webp');
}

.image-container:hover {
    border: 6px solid var(--gold-color);
    background-position: bottom center;
}

/* ---------------------------------------The Team */
#team h2 {
    text-align: center;
    padding-bottom: 20px;
}

.pt-staff-container {
    width: 100%;
    min-height: 250px;
    border: 1px solid grey;
    background-color: #fafafa;
    margin-bottom: 20px;
    padding: 10px;
    overflow: hidden;
}

.pt-staff-container:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.pt-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: top center;
    float: left;
    margin-right: 20px;
}

/* ---------------------------------------Contact */
#contact {
    overflow: auto;
}

.contact-form label {
    font-size: 1em;
    letter-spacing: .1em;
    color: var(--sub-heading-color);
    font-family: var(--h1-font-family)
}

.contact-form input {
    width: 60%;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--gold-color);
}

.contact-form button {
    margin: 20px 0 20px 0;
}

.map-container {
    margin-top: 120px;
    max-width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 90%;
}

.required {
    color: red;
}


/* ---------------------------------------footer */
footer {
    width: 100vw;
    height: 110px;
    background-color: #eae4e4;
    display: flex;
    align-items: center;
}

footer i {
    color: grey;
}

footer .container {
    width: 40%;
}

footer .col-sm-3 {
    text-align: center;
}

/* ---------------------------------------form-submitted.html */
#confirmation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.confirmation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirmation-container h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 20px;
}

.confirmation-container p {
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 20px;
}

.confirmation-container button {
    margin: 20px auto;
}

/* Extra small devices (phones, 0 - 575px) */
@media (max-width: 575px) {
    /* Global Setting */
    h1 {
        text-align: center;
    }

    section {
        height: 1500px;
    }

    #about {
        height: 1600px;
    }

    /* About Section */
    .container .background-style {
        height: 100%;
    }

    .trainer {
        width: 60%;
        margin: 20px auto;
    }

    /* The Gym Section */
    .image-container {
        width: 100%;
        height: 200px;
        padding: 20px 0;
    }

    /* Team Section */
    .pt-staff-container {
        height: 340px;
    }

    /* Contact Section */
    .map-container {
        height: 700px;
    }

    iframe {
        height: 100%;
    }

    /* Footer Section */
    footer .container {
        width: 100%;
    }

    footer .col-sm-3 {
        flex: 0 0 25%;
    }
}

/* Mobile Media Queries */
@media (min-width: 576px) and (max-width: 767px) {

    /* Global Setting */
    h1 {
        text-align: center;
    }

    section {
        height: 1500px;
    }

    #about {
        height: 1600px;
    }

    /* About Section */
    .trainer {
        width: 60%;
        margin: 20px auto;
    }

    /* The Gym Section */
    .image-container {
        width: 100%;
    }

    /* Team Section */
    .pt-staff-container {
        height: 340px;
    }

    /* Contact Section */

    /* Footer Section */
    footer .container {
        width: 100%;
        margin-bottom: 0px;
    }

    footer .col-sm-3 {
        flex: 0 0 25%;
    }
}

/* iPad Air 4th generation (2020) and later in portrait orientation */
@media only screen and (min-width: 820px) and (max-width: 820px) and (min-height: 1180px) and (max-height: 1180px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

    /* Global Setting */
    h1 {
        text-align: center;
        margin-top: 10px;
    }

    .display {
        display: block;
    }

    /* about */
    #about {
        padding-top: 60px;
    }

    .about-info h4:nth-of-type(2) {
        margin-top: 30px;
    }

    .about-info p {
        font-size: 1.4em;
    }

    .personal-trainer-list li {
        font-size: 1.6em;
    }

    /* gym */
    .image-container:nth-child(3) {
        display: block;
    }

    .gym-images-container {
        flex-direction: row;
        justify-content: center;
    }

    .image-container {
        width: 45%;
        height: 380px;
    }

    /* Team Section */
    #team h2 {
        margin-bottom: 30px;
    }

    .pt-staff-container {
        height: 500px;
    }

    #team p {
        font-size: 1.2em;
    }

    /* Contact Section */
    #contact {
        min-height: 800px;
    }

    .contact-form input {
        height: 30px;
    }

    .contact-form textarea {
        height: 100px;
    }
}

/* ipad pro specific portrait */
@media only screen and (min-width: 1024px) and (max-width: 1024px) and (min-height: 1366px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

    /* Global Setting */
    h1 {
        text-align: center;
        margin-top: 10px;
    }

    /* about */
    #about {
        padding-top: 60px;
    }

    .about-info p {
        font-size: 1.9em;
    }

    .personal-trainer-list li {
        font-size: 1.8em;
    }

    /* gym */
    .gym-images-container {
        flex-direction: row;
        justify-content: center;
    }

    .image-container {
        width: 45%;
        height: 380px;
    }

    /* Team Section */
    #team {
        padding-top: 60px;
    }

    #team h2 {
        margin-bottom: 30px;
    }

    .pt-staff-container {
        height: 550px;
    }

    #team p {
        font-size: 1.6em;
    }

    /* Contact Section */
    #contact {
        padding-top: 100px;
        min-height: 800px;
    }

    .contact-form input {
        height: 30px;
    }

    .contact-form textarea {
        height: 100px;
    }
}

/* Ipad pro landscape */
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
    .image-container {
        height: 380px;
    }
    
    #team {
        padding-top: 10px;
    }

    #contact {
        padding-top: 20px;
    }
}
  
/* Extra large devices (large desktops, 1366px and up) */
@media (min-width: 1366px) {
    .container {
        max-width: 1400px;
        margin: auto;
        padding: 40px;
    }
    
    section {
        min-height: 100vh;
    }

    .about-info p {
        font-size: 1.5em;
    }

    .personal-trainer-list li {
        font-size: 1.8em;
    }

    /* gym */
    #gym {
        background-color: #C7A64A;
    }

    .gym-images-container {
        flex-direction: row;
    }

    .image-container {
        min-height: 260px;
    }

    /* Team Section */
    #team {
        padding-top: 80px;
        min-height: 100vh;
    }

    #team h2 {
        margin: -20px 0 40px 0;
    }

    #team p {
        font-size: 1.4em;
    }

    /* Contact Section */
    #contact {
        min-height: 100vh;
    }

    .contact-form input {
        height: 30px;
    }

    .contact-form textarea {
        height: 100px;
    }

    iframe {
        height: 80%;
    }
}