@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ---------------------------------------Global Variables */
:root {
    --link-font-color: #fafafa;
    --primary-font-color: #707070;
    --gold-color: #C7A64A;
    --sub-heading-color: #5C501F;
    --font-family-body: "Roboto", sans-serif;
    --h1-font-family: "Anonymous Pro", sans-serif;
}

.bold {
    font-weight: bold;
}

section {
    height: 100vh;
}

h1 {
    color: var(--gold-color);
    font-family: var(--h1-font-family);
    letter-spacing: .2em;
}

h4 {
    color: var(--sub-heading-color);
    font-family: var(--h1-font-family);
}

p,
li {
    font-family: var(--font-family-body);
}

body {
    background-color: #eeeeee;
}

.about-info,
.founder,
.gym-info,
.team-info,
.contact-info,
.map-container {
    margin-top: 60px;
}

/* ---------------------------------------navbar */
/* Logo */
.navbar {
    --bs-navbar-padding-y: 0;
}

.navbar-brand {
    margin-left: 30px;
    font-family: var(--h1-font-family);
    color: var(--gold-color);
    font-weight: bold;
    letter-spacing: 0.3em;
}

.navbar.bg-dark {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    color: var(--link-font-color);
    font-family: var(--h1-font-family);
    font-size: 1.2em;
    transition: font-size 1s ease;
    margin-right: 20px;
    font-weight: bold;
}

.nav-link:hover {
    border-right: 2px solid #dc3545;
    color: #dc3545;
    font-size: 1.3em;
}

/* ---------------------------------------hero section */
#hero .container-fluid {
    --bs-gutter-x: 0;
}

.hero-image {
    background-image: url('../images/man.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}

.text-overlay {
    background-color: rgba(10, 10, 10, 0.2);
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.text-overlay h1 {
    font-size: 2.4em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: var(--h1-font-family);
    letter-spacing: 0.2em;
}

.text-overlay p {
    font-size: 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: .2em;
    color: rgb(227, 236, 238);
}

.text-overlay span.gold {
    color: var(--gold-color);
}

/* ---------------------------------------about section */
.about-info hr {
    margin-bottom: 30px;
}

.about-info h4 {
    color: var(--sub-heading-color);
    margin: 50px 0 20px 0;
}

.about-info p {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 0 20px;
    color: var(--primary-font-color);
}

.about-info button {
    margin: 50px 30px;
}

.trainer {
    width: 50%;
    height: 150px;
    border-radius: 50%;
    margin: 4% auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.trainer {
    background-image: url("../images/trainer3.jpg");
    background-size: cover;
}

/* ---------------------------------------The Gym section */
.gym-info hr {
    border: none;
    height: 1px;
    background-color: #fafafa;
}

#gym .container {
    position: relative;
}

.container .background-style {
    width: 100%;
    height: 64%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    z-index: -100;
}

.gym-header h1,
.gym-header p {
    text-align: center;
}

.gym-gallery {
    width: 70%;
    margin: 30px auto;
}

.image-container {
    border: 1px solid black;
    margin: 4px;
    width: 31%;
    height: 220px;
    padding: 0px;
    background-size: cover;
    background-position: center center;
    transition: background-position 2s ease;
}

.image-container:nth-child(1) {
    background-image: url('../images/equip-1.webp');
}

.image-container:nth-child(2) {
    background-image: url('../images/equip-2.webp');
}

.image-container:nth-child(3) {
    background-image: url('../images/equip-3.webp');
}

.image-container:nth-child(4) {
    background-image: url('../images/equip-4.webp');
}

.image-container:nth-child(5) {
    background-image: url('../images/equip-5.webp');
}

.image-container:nth-child(6) {
    background-image: url('../images/equip-6.webp');
}

.image-container:hover {
    border: 6px solid var(--gold-color);
    background-position: bottom center;
}

/* ---------------------------------------The Team */
#team h1 {
    text-align: center;
}

.pt-staff-container {
    width: 100%;
    min-height: 250px;
    border: 1px solid grey;
    background-color: #fafafa;
    margin-bottom: 20px;
    padding: 10px;
    word-wrap: break-word;
}

.pt-staff-container:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.pt-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: top center;
    float: left;
    margin-right: 20px;
}

/* ---------------------------------------Contact */
.contact-form label {
    font-size: 1em;
    letter-spacing: .1em;
    color: var(--sub-heading-color);
    font-family: var(--h1-font-family)
}

.contact-form input {
    width: 60%;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--gold-color);
}

.contact-form button {
    margin-top: 20px;
}

.map-container {
    margin-top: 120px;
    max-width: 100%;
    height: 90%;
}

gmp-map {
    height: 90%;
    margin-bottom: 30px;
}

/* ---------------------------------------footer */
footer {
    width: 100vw;
    height: 80px;
    background-color: #eae4e4;
    display: flex;
    align-items: center;
}

footer .container {
    width: 40%;
}

footer .col-sm-3 {
    text-align: center;
}

/* Mobile Media Queries */
@media (max-width: 768px) {

    .hero-image {
        background-position: center right;
    }

    /* Global Setting */
    h1 {
        text-align: center;
    }

    section {
        height: auto;
    }

    /* About Section */
    .trainer {
        width: 60%;
        margin: 20px auto;
    }

    /* The Gym Section */
    .image-container {
        width: 100%;
    }

    /* Team Section */


    /* Contact Section */
    gmp-map {
        height: 320px;
        width: 100%;
    }

    /* Footer Section */
    footer .container {
        width: 100%;
    }

    footer .col-sm-3 {
        flex: 0 0 25%;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    section  {
        height: auto;
    }

    #contact .container, #about .container {
        margin-bottom: 30px;
    }
}

/* ipad mini */
@media only screen and (min-width: 1180px) and (max-width: 1180px) {
    section {
        height: auto;
    }

    #contact .container, #about .container {
        margin-bottom: 30px;
    }
  }

/* For iPad Pro 1366x1024 - Landscape */
@media only screen 
  and (min-device-width : 1366px) 
  and (max-device-width : 1366px) 
  and (min-device-height : 1024px) 
  and (max-device-height : 1024px) 
  and (orientation : landscape) {
    section {
        height: auto;
    }

    #contact .container, #about .container {
        margin-bottom: 30px;
    }
}
